
body {
  font-family: "Georgia", serif;
}

.maindiv {
  width: 800px;
  margin: 0 auto;
  padding: 10px;
  background-color: #eeeeff;
  border: 1px solid black;
}

img {
  float: left;
  margin-right: 10px;
}

h3,
.english {
  font-weight: normal;
  color: #aa0000;
  font-family: "Charmonman", cursive;
}

.photo-name {
 background: #ddddff;
}

 .contacts,
 .skills,
 .code-example {
  display: inline-block;
}

.name {
  display: inline-block;
  margin: 10px;
  height: 180px;
  font-weight: bold;
  font-size: 1.5em;
  font-family: "Charmonman", cursive;
}

.contacts {
  float: right;
  margin: 0 20px;
}

.code-example {
  float: right;
}
